/* Global styles managed by Chakra UI */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  html, body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: white !important;
  }
}
